:root {
  --bg: #0f0f0f;
  --text: #eaeaea;
  --muted: #9a9a9a;
  --accent: #6366f1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}
.nav {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 700;
  letter-spacing: 1px;
  display: inline;
  background-color: #6366f1;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.logo:hover{
    background-color: var(--text);
    color:var(--accent);
    transform: scale(105%);
    box-shadow: 10px 10px 50px var(--accent);
}
.nav a {
  color: var(--muted);
  text-decoration: none;
  background: none;
  padding: 0%;
  transition: all 0.1s ease-in;
}
.nav a:hover{
    color: var(--text);
    text-shadow: 0px 0px 10px var(--accent);
    text-shadow: 0px 0px 20px var(--accent);
    text-shadow: 0px 0px 40px var(--accent);
}
.hero {
  max-width: 1100px;
  margin: 120px auto;
  padding: 0 20px;
}
.eyebrow {
  color: var(--accent);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.85rem;
}
.hero h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  margin: 20px 0;
}
.hero-desc {
  max-width: 500px;
  color: var(--muted);
  margin-bottom: 40px;
}
.primary-btn {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid var(--accent);
  color: var(--text);
  text-decoration: none;
  transition: background 0.3s ease;
}
.primary-btn:hover {
  background: var(--accent);
}
.section {
  max-width: 1100px;
  margin: 140px auto;
  padding: 0 20px;
}
.section h2 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.about p {
  max-width: 600px;
  color: var(--muted);
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}
.skills-grid span {
  padding: 14px 18px;
  border: 1px solid #222;
  color: var(--muted);
  transition: all 0.5s ease-in-out;
}
.skills-grid span:hover{
    background-color: white;
    color: black;
    transform: scale(110%);
}
.project-card {
  max-width: 650px;
  padding: 30px;
  border-left: 3px solid var(--accent);
  background: #141414;
  transition: all 0.4s ease-in-out;
}
.project-card:hover{
    background-color: var(--text);
    color: var(--bg);
    transform: scale(103%);
}
.project-card h3 {
  margin-bottom: 10px;
}
.project-card p {
  color: var(--muted);
  margin-bottom: 15px;
}
.project-card ul {
  list-style: none;
}
.project-card li {
  margin-bottom: 8px;
  color: var(--muted);
}
.footer {
  max-width: 1100px;
  margin: 140px auto 60px;
  padding: 0 20px;
}
.footer p {
  color: var(--muted);
  margin-top: 8px;
}

